.toolsBar {
  position: fixed;
  right: 20px;
  bottom: 60px;
  display: flex;
  flex-direction: column;
}

.toolsBar button {
  background-color: lightblue;
  border: 1px solid grey;
  outline: none;
  padding: 10px;
  cursor: pointer;
}
